{% extends 'visitor/baze.html' %}
{% block content %}


<div class="col-md-12 wrap-about py-4 py-md-5 ftco-animate fadeInUp ftco-animated">
 
    <div class="pl-md-5 ml-md-5 mb-5">
                  <p> </p><h3>Antecedente</h3> Timor nudar nação nebé maioria população Católica nune’e existe Diocese tolu (Arquidiocese Metropolita de Dili, Diocese Baucau no Diocese Maliana) atu hala’o serviço hodi atende sarani sira iha rai doben ida ne’e. Paróquia São João de Brito Liquiçá (PSJBL) nebé existe iha Município Liquiçá halo parte ba Diocese Sagrado Coração de Jesus Maliana (DSCJM), Paróquia Liquiçá subordena Estação Missionária rua; Bazartete no Darulete, centro pastoral 17 no Bairo 148...<a href="#" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a> 
                      <p></p>										
                  <div class="row mt-5 pt-2">
                      <div class="col-lg-6">
                          <div class="services-2 d-flex">
                              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                              <div class="text">
                                  <h3>Visão Geral</h3>
                                  <p><a href="#" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="services-2 d-flex">
                              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                              <div class="text">
                                  <h3>Visão Específica</h3>
                                  <p><a href="#" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="services-2 d-flex">
                              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                              <div class="text">
                                  <h3>Missão</h3>
                                  <p><a href="#" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="services-2 d-flex">
                              <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                              <div class="text">
                                  <h3>Objectivo </h3>
                                  <p><a href="#" class="btn btn-sm btn-primary">Hare Detallu <span class="ion-ios-arrow-round-forward"></span></a></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endblock %}